li {
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 5px crimson;
	list-style: none;
}

.btn {
	border: none;
	background: cyan;
	color: crimson;
	padding: 10px;
	border-radius: 25px;
	cursor: pointer;
}